<nav>
    <div>
        <span>
            <a href="/">
                <img src="/src/img/icon-navbar-92.png">
                <span>
                    <h1>Platformer Demon List</h1>
                    <span class="swipe"><h1>Platformer Demon List</h1></span>
                </span>
            </a>
        </span>
        <span>
            <span class="full">
                <a href="/">List</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/submit">Submit Record</a>
                <a href="/rules">Rules</a>
                <a href="/profile">Profile</a>
            </span>
            <button class="overflow material-symbols-outlined">menu</button>
            <span class="overflow">
                <a href="/">List</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/submit">Submit Record</a>
                <a href="/rules">Rules</a>
                <a href="/profile">Profile</a>
            </span>
        </span>
    </div>
</nav>