.player {
    .rank {
        margin-left: 10px;
    }

    .pages {
        position: absolute;
        top: 7px;
        right: 7px;

        a {
            color: #99a;
            text-decoration: none;
            font-size: 20px;
            margin-left: 5px;

            &:hover {
                color: #ccd;
            }
        }
    }
}

.migration {
    margin-top: 20px;
    padding: 20px;
    background-color: #334;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;

    h1 {
        margin: 0px;
        margin-bottom: 5px;
        text-align: center;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        max-width: 1100px;
    
        .info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-grow: 0;
    
            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 15px;
                flex-grow: 1;
    
                * {
                    margin: 0px;
                    font-size: medium;
                    text-align: center;
                }
    
                h3 {
                    margin-bottom: 5px;
                }
    
                &.id {
                    position: relative;
                    
                    p {
                        font-family: 'Droid Sans Mono', 'Courier New', Courier, monospace;
                        cursor: pointer;
                        display: flex;

                        .material-symbols-outlined {
                            opacity: 0;
                            width: 0px;
                            position: relative;
                            left: 10px;
                        }

                        &:hover .material-symbols-outlined {
                            opacity: 1;
                        }
                    }

                    .copied {
                        position: absolute;
                        padding: 5px 7px;
                        font-size: smaller;
                        border-radius: 5px;
                        background-color: #112;
                        transform: translateY(0px) scale(0.95);
                        pointer-events: none;
                        opacity: 0;
                        transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
                        z-index: 1;
                        bottom: -26px;

                        &.open {
                            opacity: 1;
                            transform: translateY(3px) scale(1);
                            scale: 1;
                        }
                    }
                }
            }
        }
    
        .discord {
            margin: 15px;
            border-radius: 8px;
            width: 350px;
            background-color: #232428;
            position: relative;
            overflow: hidden;
            flex-grow: 0;
            flex-shrink: 0;
            max-width: calc(100% - 40px);
    
            .banner {
                display: block;
                width: 100%;
                height: 60px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
    
            img {
                outline: 5px solid #232428;
                border-radius: 50%;
                position: absolute;
                top: 16px;
                left: 22px;
            }

            &.nitro {
                .banner {
                    height: 120px;
                }

                img {
                    top: 76px;
                }
            }
    
            .inner {
                display: block;
                background-color: #111214;
                border-radius: 8px;
                width: calc(100% - 56px);
                height: calc(100% - 154px);
                margin: 16px;
                margin-top: 54px;
                padding: 12px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
    
                * {
                    margin: 0px;
                }
    
                h1 {
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 600;
                }
    
                p {
                    font-weight: 500;
                }
            }
        }
    }
}

.table div {
    .reason {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 3px;
        border-radius: 100%;
        border: none;
        font-size: 15px;
        background-color: #112;
        color: #dde;
        transform: translate(50%, -50%);
        opacity: 0;
        cursor: pointer;
    }

    .status {
        position: relative;
        width: 40px;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        text-decoration: none;
        color: #dde;
        align-self: center;
        cursor: help;
         
        .tooltip {
            font-family: 'Whitney', Arial, Helvetica, sans-serif, 'Material Symbols Outlined';
            position: absolute;
            padding: 5px 7px;
            font-size: 12px;
            border-radius: 5px;
            background-color: #112;
            transform: translateY(0px) scale(0.95);
            pointer-events: none;
            opacity: 0;
            transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
            z-index: 1;
            bottom: 26px;
            height: unset !important;
            width: 130px;
            white-space: normal;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            .tooltip {
                opacity: 1;
                transform: translateY(-3px) scale(1);
            }
        }
    }
}

body:not(.touch) {
    .table div:hover .reason {
        display: flex;
        opacity: 1;
    }
}

body.touch {
    .table .reason {
        display: flex;
        opacity: 0.5;
        right: 3px !important;
        top: 6px !important;

        &:active {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    .table .reason {
        padding: 2px !important;
        font-size: 13px !important;
        right: 2px !important;
        top: 2px !important;
    }
}

.modal {
    p.empty {
        color: #99a;
        font-style: italic;
    }
}