main:has(> .container > .placeholder) {
    align-items: center;
    
    .container {
        max-width: 800px;
    }
}

.container > div:not(.search) {
    margin-top: 20px;
}

.placeholder {
    padding: 20px;
    background-color: #334;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players {
    padding: 40px;
    background-color: #334;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:not(:has(.table a:not([hidden]))) {
        display: none;
    }

    .highlight {
        background-color: #f76;
        color: #223;
        display: inline !important;
    }

    h1 {
        margin: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        background-color: #223;
        padding: 20px;
        border-radius: 10px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            color: #dde;
            text-decoration: none;
            font-size: larger;
            border-radius: 5px;

            &[hidden] {
                display: none;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
    
            .rank {
                width: 50px;
                user-select: none;
    
                img {
                    height: 30px;
                    -webkit-user-drag: none;
                }
                
                p {
                    position: absolute;
                    margin: 0px;
                    // https://owumaro.github.io/text-stroke-generator/
                    text-shadow: #112 2px 0px 0px, #112 1.75517px 0.958851px 0px, #112 1.0806px 1.68294px 0px, #112 0.141474px 1.99499px 0px, #112 -0.832294px 1.81859px 0px, #112 -1.60229px 1.19694px 0px, #112 -1.97998px 0.28224px 0px, #112 -1.87291px -0.701566px 0px, #112 -1.30729px -1.5136px 0px, #112 -0.421592px -1.95506px 0px, #112 0.567324px -1.91785px 0px, #112 1.41734px -1.41108px 0px, #112 1.92034px -0.558831px 0px;
                    margin-top: 27px;
                    font-size: smaller;
                }
            }
    
            .holder {
                overflow: hidden;
                text-overflow: ellipsis;
                flex-shrink: 1;
                justify-content: flex-start;
                padding-right: 10px;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                max-height: 38px;
                overflow-wrap: anywhere;
            }

            .points {
                flex-grow: 1;
                justify-content: flex-end;
                white-space-collapse: preserve;

                .divider {
                    flex-grow: 1;
                    margin-right: 10px;
                    border-top: 1px dashed #445;
                }
            }

            .device {
                width: 50px;
                font-size: 30px;
            }
        }
    }
}

.empty {
    background-color: #334;
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
}


:has(.table a:not([hidden])) .empty {
    display: none;
}

body:not(.touch) {
    main {
        .table a:hover {
            background-color: #334;
        }
    }
}

body.touch {
    main {
        .table a:active {
            background-color: #334;
        }
    }
}

@media screen and (max-width: 700px) {
    .players {
        padding: 20px;

        .table a {
            height: 40px !important;
            font-size: medium !important;
    
            .rank {
                width: 40px !important;
    
                img {
                    height: 25px !important;
                }
                    
                p {
                    font-size: small;
                    margin-top: 20px !important;
                }
            }
    
            .time {
                margin-right: 5px;
            }
    
            .points {
                margin-right: 5px;
            }
    
            .device {
                display: none !important;
            }
        }
    }
}