main {
    background-position-x: center !important;
    background-size: cover !important;
}

.level {
    padding: 20px;
    background-color: #334;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        margin: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        white-space: break-spaces;

        span {
            flex-shrink: 1;
        }

        hr {
            background-color: #778;
            width: 20px;
            margin: 10px;
            flex-shrink: 0;
            margin-top: 12px
        }
    }

    hr {
        margin: 0px;
        background-color: #556;
        margin: 20px 0px;
    }

    .users {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 300px;

        span, a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            * {
                margin: 0px;
                font-size: large;
                white-space: break-spaces;
            }

            h3 {
                margin-bottom: 5px;
                font-size: x-large;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            padding: 5px;
            margin: -5px;
            border-radius: 10px;
        }
    }

    section {
        width: 100%;
        display: flex;

        iframe {
            border-radius: 10px;
            margin: 20px 0px;
            aspect-ratio: 16 / 9;
            margin-bottom: 0px;
            flex-grow: 1;
        }
    
        .info {
            width: 240px;
            padding: 10px;
            background-color: #223;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
            margin-right: 0px;
            margin-bottom: 0px;
    
            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                margin: 10px;
                max-width: calc(100% - 20px);
    
                * {
                    margin: 0px;
                    font-size: large;
                    text-align: center;
                }
    
                h3 {
                    margin-bottom: 5px;
                }

                p {
                    max-width: 100%;
                }
            }
        }
    }
}

.records {
    padding: 20px;
    background-color: #334;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    h1 {
        margin: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        display: flex;
        flex-direction: column;
        width: calc(100% - 80px);
        background-color: #223;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        div {
            border-radius: 5px;
            font-size: larger;
            height: 50px;
            display: flex;
            align-items: stretch;

            hr {
                all: revert;
                margin: 0px;
                flex-grow: 1;
                border: none;
                border-top: 1px dashed #445;
                align-self: center;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                flex-shrink: 1;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    text-decoration: none;
                    color: #dde;
                }
        
                .rank {
                    width: 55px;
                    user-select: none;
        
                    img {
                        height: 30px;
                        -webkit-user-drag: none;
                    }

                    p {
                        position: absolute;
                        margin: 0px;
                        // https://owumaro.github.io/text-stroke-generator/
                        text-shadow: #112 2px 0px 0px, #112 1.75517px 0.958851px 0px, #112 1.0806px 1.68294px 0px, #112 0.141474px 1.99499px 0px, #112 -0.832294px 1.81859px 0px, #112 -1.60229px 1.19694px 0px, #112 -1.97998px 0.28224px 0px, #112 -1.87291px -0.701566px 0px, #112 -1.30729px -1.5136px 0px, #112 -0.421592px -1.95506px 0px, #112 0.567324px -1.91785px 0px, #112 1.41734px -1.41108px 0px, #112 1.92034px -0.558831px 0px;
                        margin-top: 27px;
                        font-size: smaller;
                    }
                }
        
                .holder {
                    justify-content: flex-start;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-shrink: 1;
                    padding-right: 10px;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    max-height: 38px;
                    overflow-wrap: anywhere;
                    white-space: break-spaces;
                }
    
                .time {
                    padding-left: 10px;
                    flex-shrink: 0;
                    justify-content: flex-end;
                    font-family: 'Droid Sans Mono', 'Courier New', Courier, monospace;
    
                    .ms {
                        color: #778;
                    }
                }
    
                .device {
                    width: 55px;
                    font-size: 30px;
                }
            }
        }
    }
}

.transparent {
    color: #eef;

    .level {
        background-color: #3347;
        backdrop-filter: blur(8px) saturate(0.5);

        h1 {
            color: #fff;
        }

        hr {
            background-color: #8898;
        }

        section .info {
            background-color: #0014;
        }
    }

    .records {
        background-color: #3347;
        backdrop-filter: blur(8px) saturate(0.5);

        .table {
            background-color: #0014;

            div {
                hr {
                    border-top-color: #8898;
                }

                a span {
                    color: #fff !important;
    
                    .ms {
                        color: #99a !important;
                    }
                }
            }
        }
    }
}

body:not(.touch) {
    main {
        .users a:hover {
            background-color: #445;
        }

        .table div:hover {
            background-color: #334;
        }

        &.transparent {
            .users a:hover {
                background-color: #eef2;
            }

            .table div:hover {
                background-color: #eef1;
            }
        }
    }
}

body.touch {
    main {
        .table div:active {
            background-color: #334;
        }

        &.transparent {
            .table div:active {
                background-color: #eef1;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .level section {
        flex-direction: column !important;

        iframe {
            margin-bottom: 20px;
        }

        .info {
            margin: 0px !important;
            width: unset !important
        }
    }
}

@media screen and (max-width: 700px) {
    .level section {
        flex-direction: column !important;

        .info {
            margin: 0px !important;
        }
    }
    
    .records .table {
        width: calc(100% - 40px) !important;
        margin-bottom: 0px !important;

        div {
            height: 45px !important;

            a {
                font-size: medium !important;
        
                .rank {
                    width: 45px !important;
        
                    img {
                        height: 20px !important;
                    }
                    
                    p {
                        font-size: x-small;
                        margin-top: 20px !important;
                    }
                }
    
                .time {
                    margin-right: 5px;
                }
        
                .device {
                    display: none !important;
                }
            }
        }
    }
}