hr {
    margin: 0px;
}

.legacy, .extended {
    h1 {
        margin: 20px 0px;
    }
    
    &:not(:has(.level:not([hidden]))) {
        display: none;
    }
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #334;
    border-radius: 20px;
    margin-bottom: 20px;

    button {
        padding: 10px 14px;
        border-radius: 4px;
        background-color: #334;
        border: 1px solid #556;
        transition: background-color 70ms ease-out, color 70ms ease-out;
        text-decoration: none;
        color: #eef;
        margin: 5px;
        width: calc(calc(100% / 3) - 10px);
        max-width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: medium;
    }
}

.level {
    background-color: #334;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 70px;
    margin-top: 20px;

    &[hidden] {
        display: none;
    }

    h1 {
        margin: 0px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ccd;
        font-size: 2em;
        user-select: none;
    }

    h3 {
        margin: 0px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #99a;
        font-size: 1.3em;
        user-select: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .name {
            padding-right: 20px;
            margin-right: 20px;
            border-right: 1px solid #778;
            white-space: pre;
        }

        .time, .milliseconds {
            font-family: 'Droid Sans Mono', 'Courier New', Courier, monospace;
        }

        .milliseconds {
            font-weight: 500;
            color: #778;
        }

        .trophy {
            height: 24px;
            margin-left: 7px;
            position: relative;
            bottom: 2px;
            opacity: 0.8;
        }
    }

    .img {
        width: 35%;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        flex-shrink: 0;
        margin: 20px;
        margin-right: 0px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        color: #dde;
        text-decoration: none;
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 40px;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        align-self: stretch;
        overflow: hidden;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        h2 {
            color: #eef;
            font-size: 2em;
            margin: 0px;
            margin-bottom: 10px;
            white-space: pre;
            width: -webkit-fill-available;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        p {
            font-size: 1.5em;
            margin: 0px;
            white-space: pre;
            width: -webkit-fill-available;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .highlight {
        background-color: #f76;
        color: #223;
    }
}

.empty {
    background-color: #334;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

:has(.level:not([hidden])) .empty {
    display: none;
}

@media screen and (max-width: 700px) {
    main {
        h1 {
            font-size: 1.3em !important;
        }

        h3 {
            font-size: 1em !important;

            .name {
                display: none !important;
            }

            .trophy {
                height: 19px !important;
            }
        }

        .info {
            h2 {
                font-size: 1.2em !important;
                margin-bottom: 5px !important;
            }
    
            p {
                font-size: 1em !important;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .select {
        flex-direction: column;
        align-items: stretch;

        button {
            width: unset !important;
        }
    }
}

body:not(.touch) {
    .select button:hover {
        background: #4458 !important;
        color: #eef !important;
    }
}

body.touch {
    .select button:active {
        background: #4458 !important;
        color: #eef !important;
    }
}