<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/src/css/min/submit.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="status">
                <h1>Oops!</h1>
                <div>
                    <p>Your record has already been submitted for review, and will be gotten to by a list mod shortly.</p>
                    <p>Please remember records may take upwards of a week to verify completely.</p>
                    <p>To view your in-progress records and their current status, go to your account page.</p>
                </div>
                <hr>
                <span>
                    <a href="/account">Go to account</a>
                    <a href="/submit">Submit a different record</a>
                </span>
            </div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->

</html>
