<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/src/css/min/list.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="search">
                <span class="material-symbols-outlined">search</span>
                <textarea placeholder="Search"></textarea>
            </div>
            {% for level in levels %}
                <div class="level">
                    <a class="img"
                        href="https://youtube.com/watch?v={{ level.video_id }}"
                        target="_blank"
                    >
                        <img loading="lazy" src="https://i1.ytimg.com/vi/{{ level.video_id }}/maxresdefault.jpg" alt="{{ level.name }}'s Thumbnail">
                    </a>
                    <a class="info" href="/level/{{ level.level_id }}">
                        <h2>{{ level.name }}</h2>
                        <p>{{ level.creator }}</p>
                    </a>
                    <h1>#{{ loop.index }}</h1>
                    {% if level.record %}
                        <h3>
                            <span class="name">{{ level.record.name }}</span>
                            <span class="time"> {{ level.record.time_format }}</span>
                            <span class="milliseconds">.{{ level.record.time_ms }}</span>
                            <img class="trophy" src="/src/img/crown.png" alt="First place crown">
                        </h3>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="empty hidden">No results.</div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->
<script src="/src/js/list.js"></script>
<script src="/src/js/jump.js"></script>

</html>
