<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/src/css/min/leaderboard.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="search">
                <span class="material-symbols-outlined">search</span>
                <textarea placeholder="Search"></textarea>
            </div>
            <div class="players">
                <div class="table">
                    {% for player in players %}
                        <a href="/player/{{ player.name }}">
                            <span title="
                                {% if player.rank <= 25 %}
                                    #{{ player.rank }}
                                {% endif %}
                            " class="rank">
                                {% if player.rank <= 1 %}
                                    <img title="#{{ player.rank }}" src="/src/img/diamondTrophy.png">
                                {% elif player.rank <= 5 %}
                                    <img title="#{{ player.rank }}" src="/src/img/goldTrophy.png">
                                {% elif player.rank <= 10 %}
                                    <img title="#{{ player.rank }}" src="/src/img/silverTrophy.png">
                                {% elif player.rank <= 25 %}
                                    <img title="#{{ player.rank }}" src="/src/img/bronzeTrophy.png">
                                {% else %}
                                    #{{ player.rank }}
                                {% endif %}
                                {% if player.rank <= 25 %}
                                    <p>#{{ player.rank }}</p>
                                {% endif %}
                            </span>
                            <span class="holder">{{ player.name }}</span>
                            <span class="points">
                                <span class="divider"></span>
                                {{ player.points }} points
                            </span>
                            <span class="device material-symbols-outlined">
                                {% if player.device == 'Desktop' %}
                                    computer
                                {% elif player.device == 'Mobile' %}
                                    smartphone
                                {% elif player.device == 'Both' %}
                                    devices
                                {% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="empty hidden">No results.</div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->
<script src="/src/js/leaderboard.js"></script>
<script src="/src/js/jump.js"></script>

</html>
