<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platformer Demon List</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/src/css/min/main.min.css">
    <link rel="stylesheet" href="/src/css/min/nav.min.css">
    <link rel="stylesheet" href="/src/css/min/footer.min.css">
    <link rel="stylesheet" href="/src/css/min/level.min.css">

    <meta name="color-scheme" content="dark">

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
    <link rel="manifest" href="/meta/site.webmanifest">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <button class="jump hidden">
        <span class="material-symbols-outlined">arrow_upward_alt</span>
        <p>Scroll to Top</p>
    </button>
    <!---->
    <main>
        <div class="container">
            <div class="level">
                <h1>
                    <span>#{{ level.placement }}</span>
                    <hr>
                    <span>{{ level.name }}</span>
                </h1>
                <hr>
                <div class="users">
                    <span>
                        <h3>Creator</h3>
                        <p>{{ level.creator }}</p>
                    </span>
                    <span>
                        <h3>Verifier</h3>
                        <p>{{ level.verifier.name }}</p>
                    </span>
                </div>
                <section>
                    <iframe src="https://www.youtube-nocookie.com/embed/{{ level.video_id }}/" frameborder="0"></iframe>
                    <div class="info">
                        <span>
                            <h3>Records</h3>
                            <p>{{ level.records | length }}</p>
                        </span>
                        <span>
                            <h3>Points when Completed</h3>
                            <p>{{ level.points }}</p>
                        </span>
                        <span>
                            <h3>ID</h3>
                            <p>{{ level.level_id }}</p>
                        </span>
                    </div>
                </section>
            </div>
            <!---->
            {% if level.records | length > 0 %}
                <div class="records">
                    <h1>Records</h1>
                    <div class="table">
                        {% for record in level.records %}
                            <div>
                                <a href="/player/{{ record.name }}">
                                    <span  title="
                                        {% if loop.index <= 4 %}
                                            #{{ record.rank }}
                                        {% endif %}
                                    " class="rank">
                                        {% if loop.index == 1 %}
                                            <img src="/src/img/diamondTrophy.png">
                                        {% elif loop.index == 2 %}
                                            <img src="/src/img/goldTrophy.png">
                                        {% elif loop.index == 3 %}
                                            <img src="/src/img/silverTrophy.png">
                                        {% elif loop.index == 4 %}
                                            <img src="/src/img/bronzeTrophy.png">
                                        {% else %}
                                            #{{ record.rank }}
                                        {% endif %}
                                        {% if loop.index <= 4 %}
                                            <p>#{{ record.rank }}</p>
                                        {% endif %}
                                    </span>
                                    <span class="holder">{{ record.name }}</span>
                                </a>
                                <hr class="divider"></hr>
                                <a href="
                                    {% if 'https://' in record.video_id %}
                                        {{ record.video_id }}
                                    {% else %}
                                        https://youtu.be/{{ record.video_id }}
                                    {% endif %}
                                " target="_blank">
                                    <span class="time">
                                        {{ record.time_format }}<span class="ms">.{{ record.time_ms }}</span>
                                    </span>
                                    <span class="device material-symbols-outlined">
                                        {% if record.mobile %}
                                            smartphone
                                        {% else %}
                                            computer
                                        {% endif %}
                                    </span>
                                </a>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<script src="/src/js/main.js"></script>
<script src="/src/js/navbar.js"></script>
<script src="/src/js/level.js"></script>
<script src="/src/js/jump.js"></script>

</html>
