<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/src/css/min/setup.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <button class="jump hidden">
        <span class="material-symbols-outlined">arrow_upward_alt</span>
        <p>Scroll to Top</p>
    </button>
    <!---->
    <main>
        <div class="container">
            <div class="main">
                <h2>Finish Account Setup</h2>
                <form action="/account/setup" method="post">
                    <input type="hidden" name="token" value="{{ token }}" />
                    <label for="username">Username</label>
                    <input type="text" required id="username" name="username" autocomplete="username">
                    <div class="profile">
                        <span>
                            <label for="profileshape">Profile Shape</label>
                            <select id="profileshape" name="profileshape">
                                <option value="circle" selected>Circle</option>
                                <option value="squircle">Squircle</option>
                                <option value="square">Square</option>
                            </select>
                        </span>
                        <span>
                            <img class="circle" src="{{ account.image }}=s64-c" referrerpolicy="no-referrer" alt="Your profile picture">
                        </span>
                    </div>
                    <label for="device">Device</label>
                    <select id="device" name="device">
                        <option value="desktop">Desktop</option>
                        <option value="mobile">Mobile</option>
                        <option value="both">Both</option>
                    </select>
                    <hr>
                    <input type="submit" value="Continue">
                </form>
            </div>
            <div class="other">
                <p>Already on the list? <a href="/account/migrate">Migrate your account</a>.</p>
            </div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<script src="/src/js/main.js"></script>
<script src="/src/js/nav.js"></script>
<script src="/src/js/jump.js"></script>
<script src="/src/js/setup.js"></script>

</html>
