<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platformer Demon List</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/src/css/min/main.min.css">
    <link rel="stylesheet" href="/src/css/min/nav.min.css">
    <link rel="stylesheet" href="/src/css/min/footer.min.css">
    <link rel="stylesheet" href="/src/css/min/submit.min.css">

    <meta name="color-scheme" content="dark">

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
    <link rel="manifest" href="/meta/site.webmanifest">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="status">
                <h1>Congrats!</h1>
                <div>
                    <p>Your record has been submitted for review, and will be gotten to by a list mod shortly.</p>
                    <p>Please remember records may take upwards of a week to verify completely, and we have the right to deny your record if we suspect you of cheating or disobeying the <a href="/rules" class="proper">rules</a>.</p>
                    <p>Keep an eye on your DMs for any questions a list mod may have about your record.</p>
                    <p>To view your in-progress records and their current status, go to your account page.</p>
                </div>
                <hr>
                <span>
                    <a href="/account">Go to account</a>
                    <a href="/submit">Submit another record</a>
                </span>
            </div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<script src="/src/js/main.js"></script>
<script src="/src/js/navbar.js"></script>

</html>
