<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/src/css/min/submit.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="form">
                <h1>Submit</h1>
                <p>Be sure to <a class="proper" href="/rules">read the rules</a> before submitting!</p>
                <form action="/submit" method="post">
                    <span class="beside">
                        <span>
                            <label for="time">Time</label>
                            <input type="text" name="time" id="time" placeholder="0:00:00.000" required autocomplete="none">
                        </span>
                        <span>
                            <label for="level">Level</label>
                            <input type="text" list="levels" name="level" id="level" placeholder="Level Name" required autocomplete="none" multiple>
                            <input type="hidden" name="levelid" id="levelid">
                            <datalist id="levels">
                                {% for level in levels %}
                                    <option label="#{{ level.placement }} - {{ level.level_id }}" value="{{ level.name }}" data-level-id="{{ level.level_id }}"></option>
                                {% endfor %}
                            </datalist>
                        </span>
                    </span>
                    <span class="video">
                        <span>
                            <label for="video">YouTube URL</label>
                            <input type="url" name="video" id="video" placeholder="https://youtube.com/watch" required>
                            <input type="hidden" name="videoid" id="videoid">
                            <label for="raw">Raw Footage URL</label>
                            <input type="url" name="raw" id="raw" placeholder="https://youtube.com/watch">
                        </span>
                        <span class="default">
                            <div class="select">
                                <span class="selected">Video</span>
                                <span>Raw</span>
                            </div>
                            <div class="preview">
                                <p data-index="1">Your video will appear here.</p>
                                <p data-index="2">Processing...</p>
                                <iframe src="" frameborder="0" allow="fullscreen" allowfullscreen="allowfullscreen"></iframe>
                                <p data-index="3">Sorry, that's not a valid YouTube video.</p>
                            </div>
                        </span>
                    </span>
                    <label for="device">Device</label>
                    <select id="device" name="device">
                        <option value="desktop">Desktop</option>
                        <option value="mobile">Mobile</option>
                    </select>
                    <textarea name="notes" id="notes" placeholder="Additional Notes (optional)" rows="3"></textarea>
                    <hr>
                    <input type="submit" value="Submit Record">
                </form>
            </div>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->
<script src="/src/js/submit.js"></script>
<script src="/src/js/jump.js"></script>

</html>
