<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/static/css/min/mod.min.css">
    <link rel="stylesheet" href="/static/css/min/modusers.min.css">
</head>
<body>
    <!---->
    {% include "template/nav.html" %}
    <!---->
    <main>
        <div class="container">
            <div class="select">
                <a href="/mod/records">{{ translation.mods.records.records }}</a>
                <a href="/mod/users">{{ translation.mods.users.users }}</a>
                <a href="/mod/levels">{{ translation.mods.levels.levels }}</a>
            </div>
            <div class="stats">
                {%- if requests | length == 1 -%}
                    {{ translation.mods.users.results.s | sandwich(0) }}<b>{{ requests | length }}</b>{{ translation.mods.users.results.s | sandwich(1) }}
                {%- else -%}
                    {{ translation.mods.users.results.p | sandwich(0) }}<b>{{ requests | length }}</b>{{ translation.mods.users.results.p | sandwich(1) }}
                {%- endif -%}{%- if elapsed == 1 -%}
                    {{ translation.mods.users.seconds.s | sandwich(0) }}<b>{{ elapsed }}</b>{{ translation.mods.users.seconds.s | sandwich(1) }}
                {%- else -%}
                {{ translation.mods.users.seconds.p | sandwich(0) }}<b>{{ elapsed }}</b>{{ translation.mods.users.seconds.p | sandwich(1) }}
                {%- endif -%}
            </div>
            {% for request in requests %}
                <div class="request">
                    <span>
                        <div class="user">
                            <a href="/player/{{ request.player.name }}" target="_blank" class="player">
                                <img src="{{ request.account.image }}=s48-c" referrerpolicy="no-referrer" alt="{{ translation.mods.users.profileAlt | replace("{}", request.player.name) }}" class="{{ request.account.profile_shape }}">
                                <p>{{ request.player.name }}</p>
                            </a>
                            <a href="https://discordapp.com/users/{{ request.discord.user_id }}" target="_blank" class="discord">
                                <img src="https://cdn.discordapp.com/avatars/{{ request.discord.user_id }}/{{ request.discord.avatar }}.webp?size=48" referrerpolicy="no-referrer" alt="{{ translation.mods.users.discordAlt | replace("{}", request.discord.global_name) }}">
                                <p>{{ request.discord.global_name }} <span class="username">@{{ request.discord.username }}</span></p>
                            </a>
                        </div>
                    </span>
                    <form action="/mod/users" method="post">
                        <input type="hidden" name="migrationid" value="{{ request.id }}">
                        <input type="hidden" name="status" value="accept">
                        <div class="submit">
                            <input type="submit" value="{{ translation.mods.users.accept }}">
                            <input type="submit" value="{{ translation.mods.users.deny }}" class="deny">
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->
<script src="/static/js/modusers.js"></script>
<script src="/static/js/jump.js"></script>

</html>
