<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    {% include "template/meta.html" %}
    <!---->
    <link rel="stylesheet" href="/static/css/min/oauth.min.css">
</head>
<body>
    <main>
        <div class="container">
            <img src="/static/img/icon-white.png" alt="">
            <h1>Account Linked Successfully</h1>
            <p>You may now close this window.</p>
        </div>
    </main>
    <!---->
    {% include "template/footer.html" %}
    <!---->
</body>

<!---->
{% include "template/include.html" %}
<!---->

</html>
