.container {
    h1, h2 {
        color: #eef;
    }

    h3 {
        color: #889;
        margin: 0px;
        font-weight: 500;
        font-size: small;
    }

    :first-child {
        margin-top: 0px;
    }

    :last-child {
        margin-bottom: 0px;
    }
}