@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import url('https://fonts.cdnfonts.com/css/droid-sans-mono-2');

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0px;
    color: #dde;
    background-color: #223;
    font-family: 'Whitney', Arial, Helvetica, sans-serif, 'Material Symbols Outlined';
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0px;
}

.material-symbols-outlined {
    user-select: none;
}

hr {
    background-color: #445;
    margin: 0px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    width: 100%;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;

    .container {
        max-width: 1250px;
        flex-grow: 1;
        width: 100%;
    }
}

a.proper {
    color: #88f;

    &:visited, &:active {
        color: #f88;
    }
}