nav {
    background-color: #112;
    display: flex;
    justify-content: center;
    position: sticky;
    inset: 0px;
    bottom: unset;
    z-index: 2;
    width: 100%;
    // ---------- transparent navbar ----------
    // backdrop-filter: blur(25px) saturate(1.5);
    // background-color: #0018;
    // ----------------------------------------
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        height: 70px;
        max-width: 1250px;
        flex-grow: 1;
        
        * {
            margin: 0px;
        }

        a {
            text-decoration: none;
            color: #dde;
        }

        span:first-child a {
            display: flex;
            align-items: center;
            user-select: none;
            
            img {
                height: 42px;
                margin: 0px 7px;
            }

            h1 {
                margin: 0px 7px;
                position: absolute;
                top: 20px;
            }

            .swipe {
                position: absolute;
                top: 20px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                transition: width 150ms ease-out;
                width: 0px;
                z-index: 1;
                background-color: #112;

                h1 {
                    margin-right: 0px;
                    background: linear-gradient(90deg, #fc4, #f76);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    width: 305px;
                    position: unset;
                }
            }

            &:hover span.swipe {
                width: 305px;
            }
        }

        span:last-child {
            .full {
                display: flex;

                a {
                    padding: 12px 17px;
                    margin-left: 7px;
                    border-radius: 10px;
                    background-color: #112;
                    border: #334 2px solid;
                    transition: background-color 70ms ease-out;
                    // ---------- transparent navbar ----------
                    // background-color: transparent;
                    // ----------------------------------------
                }
            }

            .overflow {
                display: none;
            }

            button.overflow {
                color: #dde;
                padding: 12px 17px;
                margin-left: 7px;
                border-radius: 10px;
                background-color: #112;
                border: #334 2px solid;
                transition: background-color 70ms ease-out;
                cursor: pointer;

                &.enabled {
                    background-color: #bbc;
                    border: transparent 2px solid;
                    color: #223;
                }
            }

            span.overflow {
                position: absolute;
                top: 70px;
                left: 0px;
                right: 0px;
                display: none;
                align-items: stretch;
                justify-content: flex-start;
                flex-direction: column;
                text-align: right;
                background-color: #112;
                max-height: 0px;
                transition: max-height 300ms ease-out;
                overflow: hidden;
                
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;

                &.enabled {
                    max-height: 252px;
                }

                a {
                    padding: 12px 20px;
                    transition: background 70ms ease-out;
                    border-radius: 12px;

                    &:nth-child(odd) {
                        background-color: #001;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    nav .full {
        display: none !important;
    }

    nav .overflow {
        display: flex !important;
    }
}

@media screen and (max-width: 425px) {
    nav span:first-child span {
        display: none !important;
    }
}

body:not(.touch) {
    nav {
        button.overflow:hover, .full a:hover {
            background-color: #eef !important;
            border: transparent 2px solid;
            color: #223;
        }

        span.overflow a:hover {
            background-color: #dde !important;
            color: #223;
        }
    }
}

body.touch {
    nav {
        button.overflow:active, .full a:active {
            background-color: #eef !important;
            border: transparent 2px solid;
            color: #223;
        }

        span.overflow a:active {
            background-color: #dde !important;
            color: #223;
        }
    }
}